# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

01 - Sem Rotação/Mod
02 - Entrada Melhorada - Sem Rotacao/Mod
03 - Com Rotação/Mod
04 - Alg Genético/Mod
